#include <iostream>
using namesapce std;

int main () 
{
string name; string city; string car;
cout << "Enter name: ";
cin >> name;
cout << "Enter city: ";
cin >> city;
cout << "Enter car make, model, and year: ";
cin >> car;

cout << " My name is " << name << ". I live in " << city << " and I drive a " << car << ".";

return 0;
